header>a>img{
    position: relative;
    height: 71px;
    width: 50px;
    left:5px
}
img{
    contain: content;
    width: 100%;
}
header{
    background-color: #8C68D9;
}
.button button{
    background-color: #8637F5;
    border: 1px solid #8637F5;
    border-radius: 3em;
}
.button button a{
    text-decoration: none;
    text-align: center;
    font-family: Assistant;
    font-size: 1rem;
    color: black;
}
.button{
    margin: 0 auto;
    width: 100px;
    padding: 20px;
    height: 25px;
}
p{
    font-family:Assistant;
    color: #321399;
    margin:19px;
    text-align: left;
    font-size: 1rem;
}
.titre>h1{
    font-family: "Courier Prime";
    font-size: 18px;
    font-weight: lighter;
    text-align: center;
}
figcaption{
    text-align: center;
    font-family: Assistant;
    font-size: 12px;
    color: #8C68D9;
    margin-bottom: 10px;
    margin-top: 0;
}