footer{
    display: block;
    background-color: #170445;
    color: #E4B6F8;
}
.iutlogo>img{
    position: relative;
    bottom: 100px;
    left: 850px;
    height: 130px;
    width: 130px;
}
.footer-reseaux-sociaux>ul>li:first-child{
    background: url("/img/Icônes/instagram.png") no-repeat;
    position: relative;
    text-indent: -9999px;
    height: 100px;
    width: 100px;
}