footer{
    display: inline-block;
    background-color: #170445;
    color: #E4B6F8;
}
.iutlogo>img{
    position: relative;
    bottom: 100px;
    left: 850px;
    height: 130px;
    width: 130px;
    top:-200px;

}
.footer-reseaux-sociaux>a>img{
    position: relative;
    left:580px;
    top:20px;
    margin: 0 15px 0 15px;
    padding: 0;
}
.footer-infos>p:first-child{
    position: relative;
    font-family:"Sarabun";
    font-size: 3rem;
    top:-120px

}
.footer-infos>p:last-child{
    position: relative;
    font-family:"Sarabun";
    font-size: 2rem;
    top:-140px
}

.footer-infos>a{
    position: relative;
    font-family: "Sarabun";
    color: #E4B6F8;
    text-decoration: none;
    font-size: 2rem;
    padding-left: 25px;
    margin: 10px 0 10px 0;
    top:-140px
}