footer{
    background-color: #170445;
    color: #E4B6F8;
    margin: 0;
}
.iutlogo>img{
    contain: content;
    position: relative;
    height: 40px;
    width: 40px;
    top:-163px;
    left:218px;

}
.footer-reseaux-sociaux>a>img,.footer-reseaux-sociaux>a{
    contain: content;
    position: relative;
    width: 30px;
    height: 30px;
    top:10px;
    left:130px;
    margin: 0 1px 0 1px;
    padding: 0;
}
.footer-infos>p:first-child{
    position: relative;
    font-family:"Sarabun";
    color: #E4B6F8;
    font-size: 18px;
    top: -30px;


}
.footer-infos>p:last-child{
    position: relative;
    font-family:"Sarabun";
    color: #E4B6F8;
    font-size: 16px;
    top:0;

}
.footer-infos>a{
    position: relative;
    font-family: "Sarabun";
    color: #E4B6F8;
    text-decoration: none;
    font-size: 16px;
    padding-left: 25px;
    margin: 10px 0 10px 0;
    top:-10px;

}
.footer-infos>p>a{
    color:#E4B6F8;
}