.titre>img{
    position: relative;
    margin: 0 auto;
    left:400px;
}
h2, h4{
    font-family: "Courier Prime";
    font-weight: lighter;
}
h2{
    text-align: center;
    font-size: 3rem;
}
h4{
    text-align: right;
    font-size: 3rem;
}
h4>a{
    text-decoration: none;
}
body{
    background-color: #8637F5;
}
h4>a>img{
    height: 50px;
    width: 50px;
}
