.nav-toggle{
    width: 40px;
    height:40px;
    position: absolute;
    top:15px;
    right:15px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2;
}
.nav-toggle-bar,
.nav-toggle-bar::before,
.nav-toggle-bar::after{
    content: "";
    background-color: #E4B6F8;
    width: 100%;
    height: 3px;
    border: 1px solid #E4B6F8;
    border-radius: 5px;
    position: absolute;
    left: 0;
    transition: all .4s ease-in-out;
}
.nav-toggle-bar::before{
    top:-13px;
}
.nav-toggle-bar::after{
    top:13px;
}

.menu-open .nav-toggle-bar{
    transform: rotate(135deg);
    background-color: #170445;
    border: 1px solid #170445;
    border-radius: 12px;
}
.menu-open .nav-toggle-bar::before,
.menu-open .nav-toggle-bar::after {
    transform: rotate(90deg);
    background-color: #170445;
    top: 0;
    border: 1px solid #170445;
    border-radius: 12px;
}
/* MENU */
.menu{
    background-color: white;
    background-image: url("/img/fondindex.jpg");
    position: fixed;
    top:0;
    left: 0;
    bottom: 0;
    right:0;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translateX(100vw);
    transition: all .4s;
    z-index: 1;
}
.menu-open .menu{
    transform: translateX(0);
}
/* BUG IOS */
.menu-open, .menu-open>body{
    overflow: hidden;
}

.menu>ul{
    list-style: none;
    margin:0;
    padding: 0;
    font-size: 1rem;
    font-family: "Courier Prime";
    text-align: center;
    text-transform: uppercase;
}
.menu>ul>li{
    margin-bottom: 20px;
    transform: translate(30px);
    opacity: 0;
    transition: all .4s ease;
    background-color:#8C68D9 ;
}
.menu>ul>li>a{
    color:#170445;
    text-decoration: none;
}

.menu-open .menu li{
    transform: translateX(0);
    opacity: 1;
}
.menu-open .menu li:nth-child(n+1) {transition-delay: .3s ; }
.menu-open .menu li:nth-child(n+2) {transition-delay: .35s ; }
.menu-open .menu li:nth-child(n+3) {transition-delay: .4s ; }
.menu-open .menu li:nth-child(n+4) {transition-delay: .45s ; }
.menu-open .menu li:nth-child(n+5) {transition-delay: .5s ; }
.menu-open .menu li:nth-child(n+6) {transition-delay: .55s ; }
